* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Work Sans", sans-serif;
}

body {
  height: 100vh;
  justify-content: center;

  transition: background-color 1s;
}

body,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  justify-content: space-evenly;
  width: 460px;
  height: 250px;

  text-align: center;

  border-radius: 1em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
}

button {
  font-size: 1.1em;
  padding: 0.5em 1.5em;
  border: 2px solid black;
  border-radius: 0.5em;

  background: none;
  cursor: pointer;
}

a {
  color: inherit;
}

/* Media Queries */

@media all and (max-width: 850px) {
  main {
    width: 410px;
  }
}

@media all and (max-width: 600px) {
  main {
    width: 360px;
  }

  h1 {
    font-size: 1.8em;
  }
}

@media all and (max-width: 450px) {
  main {
    width: 310px;
  }
}

@media all and (max-width: 350px) {
  main {
    width: 290px;
  }

  h1 {
    font-size: 1.6em;
  }

  button {
    font-size: 1em;
  }

  article {
    font-size: 0.9em;
  }
}

@media all and (max-width: 300px) {
  main {
    width: 90%;
  }

  h1 {
    font-size: 1.3em;
  }

  button {
    font-size: 0.9em;
  }

  article {
    font-size: 0.8em;
  }
}
