* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Work Sans", sans-serif;
}

body {
  height: 100vh;
  justify-content: center;
}

body,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  justify-content: space-evenly;
  width: 30em;
  height: 18em;

  border-radius: 1em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
}

button {
  font-size: 1.1em;
  padding: 0.5em 1.5em;
  border: 2px solid black;
  border-radius: 0.5em;

  background: none;
  cursor: pointer;
}

a {
  color: inherit;
}
