* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Work Sans", sans-serif;
}

body {
  height: 100vh;
}

body,
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex-direction: column;
}

h1 {
  font-weight: bold;
}
